body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 78px;
    bottom: 0;
    width: 100%;
  }

  .mapboxgl-ctrl-top-right {
    top: 0;
    right: 0;
    z-index: 999 !important;
  }

  /* Popup styling */

  .mapboxgl-popup {
    padding-bottom: 5px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 350px;
    height: 350px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h3 {
    background: rgb(61, 59, 59);
    text-align: center;
    color: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-weight: 700;
    margin-top: -5px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 3px 10px 10px;
    font-weight: 400;
  }

  .mapboxgl-container {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 3px;
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: rgb(61, 59, 59);
  }

  img {
    width: 100%;
  }

  nav {
    z-index: 999;
  }

  .nav-link {
    font-size: 24px;
    font-weight: bold;
    color: black !important;
  }

  .nav-link:hover {
    cursor: default;
    color: black !important
  }

  small {
    font-size: 12px;
    font-style: italic;
  }

  .loader {
    /* margin: -10px 0 0 -250px; */
    /* height: 100px; */
    /* width: 20%; */
    position: fixed;
    text-align: center;
    padding: 1em;
    top: 50%;
    left: 50%;
    /* margin: 0 auto 1em; */
    z-index: 9999;
  }

  svg path,
  svg rect {
    fill: #1266f1;
  }

  #overlay {
    position: fixed;
    /* Sit on top of the page content */
    /* display: none; */
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
  }

  #basemaps-wrapper {
    position: absolute;
    top: 88px;
    left: 8px;
    z-index: 999;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  }

  #basemaps {
    padding: 4px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #fff
  }

  #highres {
    padding: 14px 60px;
    margin: 20px auto;
    display: block;
  }

  a {
    line-height: 20px;
  }

  @media only screen and (max-width: 480px) {
    #map {
      margin-top: -33px !important;
    }

    #basemaps-wrapper {
      top: 58px
    }

    #overlay {
      margin-top: -23px !important;
      height: auto;
    }

    .me-3 {
      margin-right: 0 !important;
    }

    .mapboxgl-popup-content {
      max-width: 300px;
    }

    .mapboxgl-popup-content div {
      padding: 0em;
    }

    .mapboxgl-popup-content p {
      margin: 0.5em 0.5em;
    }

    .loader {
      padding: 0;
    }
    small  {
      font-size: 10px;
    }
    .nav-item {
      text-align: center;
    }
    .mb-2 {
      margin-bottom: 0px !important;
    }
    #btn-email {
      width: 100%;
    }
    .mapboxgl-popup-content {
        height: 308px;
    }
  }